---
- import_tasks: "packages.d/openvpn_packages_filestore_master.yml"
  when:
    - "vars['openvpn_revoke_target'] is not defined"
    - "vars['openvpn_ca_storage_type'] == 'file'"
  delegate_to: "{{ vars['openvpn_ca_storage_source']['delegate_host'] }}"
  remote_user: "{{ vars['openvpn_ca_storage_source']['delegate_user'] }}"
  become: "true"
- import_tasks: "packages.d/openvpn_packages_host.yml"
  when:
    - "hostvars[inventory_hostname]['openvpn'] is defined"
    - "hostvars[inventory_hostname]['openvpn'] != ''"
    - "hostvars[inventory_hostname]['openvpn'] |
       community.general.json_query(vars['openvpn_install_package']) is defined"
    - "hostvars[inventory_hostname]['openvpn'] |
       community.general.json_query(vars['openvpn_install_package']) == 'true'"
    - "hostvars[inventory_hostname]['openvpn_scenario'] == 'deploy_instance'"
  vars:
    openvpn_install_package: "[] | map(&install_package || 'false', @) | [0]"
