{{ '[ ca ]' }}
{{ 'default_ca = CA_default' }}

{{ '[ CA_default ]' }}
{{ 'crl_dir = ' ~ vars['openvpn_ca_settings']['crl_path'] }}
{{ 'database = ' ~ vars['openvpn_ca_settings']['crl_path'] ~ '/index' }}
{{ 'crlnumber = ' ~ vars['openvpn_ca_settings']['crl_path'] ~ '/crlnumber' }}
{{ 'crl = ' ~ vars['openvpn_ca_settings']['crl_path'] ~ '/' ~
   vars['openvpn_ca_settings']['crl_file'] }}
{{ 'default_md = default' }}
{{ 'default_days = 365' }}
{{ 'default_crl_days = ' ~ vars['openvpn_ca_settings']['crl_days'] }}
