---
- include_tasks: "ca.d/filestore/main.yml"
  loop: "{{ vars['openvpn_instances'] | flatten(levels=1) }}"
  loop_control:
    loop_var: "outer_item"
  when:
  - "vars['openvpn_revoke_target'] is not defined"
  - "vars['openvpn_ca_storage_type'] == 'file'"
  - "outer_item.name != None"
- include_tasks: "ca.d/s3/main.yml"
  loop: "{{ vars['openvpn_instances'] | flatten(levels=1) }}"
  loop_control:
    loop_var: "outer_item"
  when:
  - "vars['openvpn_revoke_target'] is not defined"
  - "vars['openvpn_ca_storage_type'] == 's3'"
  - "outer_item.name != None"
